.header {
  margin-bottom: 2rem;
}

.footer {
  margin: 2rem 0 2rem 0;
  display: flex;
  gap: 1rem;
}

.progressBar {
  position: relative;
  width: 100%;
  height: 1rem;
  background-color: #eee;
}

.progress {
  height: 1rem;
  background-color: #ddd;
}