.header {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.headerProgress {
  flex-grow: 1;
}

.main {
  margin-bottom: 4rem
}

.footer {
  display: flex;
  gap: 1rem;
  margin-bottom: 4rem;
}
