.option {
  display: flex;
  margin-bottom: 0.5rem;
}

.optionLabel {
  background-color: #ddd;
  border-radius: 100%;
  display: inline-block;
  margin-right: 0.5rem;
  padding: 5px 8px;
  color: #aaa
}

.optionInput {
  margin-right: 0.5rem;
}
